<%= render "shared/header" %>
<div class='main'>

  <%# 画面上部の「人生を変えるフリマアプリ」帯部分 %>
  <div class='title-contents'>
    <h2 class='service-title'>
      リンゴ農家
    </h2>
    <p class='service-explain'>
      信州安曇野で農業やってます
    </p>
    <p class='service-explain'>
      ↓最新情報はコチラ
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("instagramlogo.png", class:"apple-btn"), "https://www.instagram.com/niwayamafarm/" %>
      <%= link_to image_tag("facebooklogo.png", class:"google-btn"), "https://www.facebook.com/niwayamafarm" %>
    </div>
  </div>
  <%# /画面上部の「人生を変えるフリマアプリ」帯部分  %>

  <%# FURIMAが選ばれる3つの理由部分 %>
  <div class='select-reason-contents'>
    <h2 class='title'>
      にわやまふぁーむとは
    </h2>
    <ul class='reason-lists'>
      <li class='list'>
        <%= image_tag '/assets/kaobackangle.jpeg', class:"list-pict" %>
        <span class='reason-list-number'>1</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>一人</span>
          で農業
        </h3>
        <p class='reason-list-description'>
          2020年より新規就農してこじんまりとやってます
        </p>
      </li>
      <li class='list'>
        <%= image_tag "meigetutree.jpg", class:"list-pict" %>
        <span class='reason-list-number'>2</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>リンゴ</span>
          育ててます
        </h3>
        <p class='reason-list-description'>
          品種：秋映,シナノスイート,名月,ふじ
        </p>
      </li>
      <li class='list'>
        <%= image_tag "applebox.jpg", class:"list-pict" %>
        <span class='reason-list-number'>3</span>
        <h3 class='reason-list-text'>
          <span class='reason-list-blue-text'>発送</span>
          やってます
        </h3>
        <p class='reason-list-description'>
          各品種5kg箱、ジュース（3,6,12本）を扱ってます
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAが選ばれる3つの理由部分 %>

  <%# 画面中央の「会員数日本一位」帯部分 %>
  <div class='ad-contents'>
    <h2 class='ad-title'>
      会員数日本一位
    </h2>
    <p class='ad-explain'>
      FURIMAは、フリマアプリで最も人気。
    </p>
    <p class='ad-explain'>
      出品・購入回数も業界最多です！
    </p>
    <p class='ad-explain'>
      ほしかったあの商品に出会えるかもしれません。
    </p>
    <div class='store-btn'>
      <%= link_to image_tag("instagramlogo.png", class:"apple-btn"), "#" %>
      <%= link_to image_tag("facebooklogo.png", class:"google-btn"), "#" %>
    </div>
  </div>
  <%# /画面中央の「会員数日本一位」帯部分 %>

  <%# FURIMAの特徴 %>
  <div class='feature-contents'>
    <h2 class='title'>
      FURIMAの特徴
    </h2>
    <ul class='feature-lists'>
      <li class='list'>
        <%= image_tag "furima-intro04.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          簡単に売り買いできる
        </h3>
        <p class='feature-list-description'>
          スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro05.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          売上金は即日振込みに対応
        </h3>
        <p class='feature-list-description'>
          午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします。
        </p>
      </li>
      <li class='list'>
        <%= image_tag "furima-intro06.png", class:"list-pict" %>
        <h3 class='feature-list-text'>
          様々な支払いに対応
        </h3>
        <p class='feature-list-description'>
          お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
        </p>
      </li>
    </ul>
  </div>
  <%# /FURIMAの特徴 %>

  <%# 商品一覧 %>
  <div class='item-contents'>
    <h2 class='title'>商品一覧</h2>
    <div class="subtitle" >
      うまいよ！
    </div>
    <ul class='item-lists'>
     <% @item.each do |item| %>
       <li class='list'>
        <%= link_to item_path(item.id), method: :get do %>
         <div class='item-img-content'>
           <%= image_tag(item.image, class: "item-img") %>
           <% if item.buyer.present? %>
           <div class='sold-out'>
             <span>Sold Out!!</span>
           </div>
           <% end %>
         </div>
         <div class='item-info'>
           <h3 class='item-name'>
             <%= item.item_name %>
           </h3>
           <div class='item-price'>
             <span><%= item.price %>円<br><%= item.payer.name %></span>
             <div class='star-btn'>
               <%= image_tag "star.png", class:"star-icon" %>
               <span class='star-count'>0</span>
             </div>
           </div>
         </div>
        <% end %>
       </li>
     <% end %>

     <% if @item[0] == nil %>
      <li class='list'>
        <%= link_to '#' do %>
        <%= image_tag "https://tech-master.s3.amazonaws.com/uploads/curriculums/images/Rails1-4/sample.jpg", class: "item-img" %>
        <div class='item-info'>
          <h3 class='item-name'>
            商品を出品してね！
          </h3>
          <div class='item-price'>
            <span>99999999円<br>(税込み)</span>
            <div class='star-btn'>
              <%= image_tag "star.png", class:"star-icon" %>
              <span class='star-count'>0</span>
            </div>
          </div>
        </div>
        <% end %>
      </li>
     <% end %>
    </ul>
  </div>
  <%# /商品一覧 %>
</div>
<%= link_to(new_item_path, class: 'purchase-btn') do %>
  <span class='purchase-btn-text'>出品する</span>
  <%= image_tag 'icon_camera.png' , size: '185x50' ,class: "purchase-btn-icon" %>
<% end %>
<%= render partial: "shared/footer" %>